**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print('Setup Complete')

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset('chicago_crime', project = 'bigquery-public-data')

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [3]:
# Write the code you need here to figure out the answer
count = 0
tables = list(client.list_tables(dataset))
print(len(tables))

1

In [4]:
for table in tables:  
    count += 1
print(count)

1

In [5]:
num_tables = 1  # Store the answer as num_tables and then run this cell
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [6]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [7]:
# Write the code to figure out the answer

# Construct a reference to the "crime" table
table_ref = dataset_ref.table('crime')

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "chicago_crime" dataset
num_timestamp_fields = 0
for s in table.schema:  
    if (s.field_type == 'TIMESTAMP'):
        num_timestamp_fields += 1
print(num_timestamp_fields)

2

In [8]:
num_timestamp_fields = 2 # Put your answer here
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [9]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [10]:
# Write the code here to explore the data so you can find the answer
df = client.list_rows(table, max_results = 25).to_dataframe()
for column in df.columns:
    print(column)

unique_key
case_number
date
block
iucr
primary_type
description
location_description
arrest
domestic
beat
district
ward
community_area
fbi_code
x_coordinate
y_coordinate
year
updated_on
latitude
longitude
location

In [11]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [12]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [13]:
# Scratch space for your code
df = client.list_rows(table, max_results = 25).to_dataframe()
df.loc[:, ['latitude', 'longitude', 'location']]

     latitude  longitude                       location
0         NaN        NaN                           None
1         NaN        NaN                           None
2         NaN        NaN                           None
3         NaN        NaN                           None
4         NaN        NaN                           None
5         NaN        NaN                           None
6         NaN        NaN                           None
7         NaN        NaN                           None
8         NaN        NaN                           None
9         NaN        NaN                           None
10  41.744076 -87.596173  (41.744075903, -87.596173259)
11  41.721680 -87.598407  (41.721680177, -87.598407335)
12  41.990185 -87.780730  (41.990184924, -87.780729845)
13  41.929759 -87.795433  (41.929758554, -87.795433304)
14  41.988631 -87.812829  (41.988630807, -87.812829371)
15  41.750757 -87.595474   (41.750756536, -87.59547383)
16  41.826373 -87.631399  (41.826372663, -87.631399069)
17  41.848934 -87.631931  (41.848933752, -87.631930586)
18  41.655172 -87.617263  (41.655172319, -87.617262702)
19  41.723829 -87.666331  (41.723828934, -87.666331079)
20        NaN        NaN                           None
21  41.651635 -87.549583   (41.651635127, -87.54958335)
22  41.692834 -87.604319   (41.692833841, -87.60431945)
23  41.785520 -87.738568  (41.785519673, -87.738567526)
24  42.014181 -87.806608  (42.014181076, -87.806608294)

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*